.form-footer {
  width: 100%;
  height: calc(8% - 6px);
  background-color: #e5e5e5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position:absolute; 
  bottom:0;
}
.form-footer .cancel-button,
.form-footer .save-button {
  width: 106px;
  height: calc(100% - 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  border-radius: 4px;
}
.button-icon {
  padding-right: 10px;
  width: 20px;
  height: 20px;
}
.form-footer .save-button {
  background-color: #01b075;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.cancel-button:hover {
  background-color: #f65454;
  cursor: pointer;
}
.cancel-button:active {
  background-color: #ffffff;
}
.save-button:hover {
  background-color: #2fbe8e;
  cursor: pointer;
}
.save-button:active {
  background-color: #01b075;
}
