.content{
    position: absolute;
    top: 49px;
    left: 221px ;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #ffffff;
    /* padding: 16px; */
}

.content .header-content{
  padding: 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.content .header-content .title{
  font-size: 20px;
  font-weight: bold;
}

.content .header-content .content-feature{
  position: absolute;
  right: 16px;
}

.icon-add{
  width: 16px;
  height: 16px;
  background-image: url(../../content/icon/add.png);
}

.m-btn{
  display: flex;
  align-items: center;
  background-color: #019060;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  font-family: GoogleSans-Regular;
  padding-left: 16px;
  padding-right: 16px;
  outline: none; 
  border: none;
  cursor: pointer;
}

.m-btn .btn-text{
  margin-left: 8px;
}

.content-feature :hover{
  background-color: #2FBE8E;
  /* background-color: black; */
}

.m-btn .m-btn-icon{
  background-position: center;
}
.filter-bar{
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  /* background-color: black; */
  margin-left: 16px;
}


.filter-bar .filter-right{
  position: absolute;
  right: 16px ;
}

input{
  padding: 10px 16px ;
  border-radius: 4px;
  outline: none;
  border: 1px solid #bbbbbb;
  padding-left: 40px;
}


.icon-search{
  background-image: url(../../content/icon/search.png);
  background-repeat: no-repeat;
  background-position: 16px center;
}

#room {
  height: 36px;
  width: 180px;
  margin-left: 10px;
  outline: none;
  line-height: 40px ;
  border: 1px solid #bbbbbb;
  padding-left: 40px;
  border-radius: 4px;
}


#localtion {
  height: 36px;
  width: 180px;
  margin-left: 16px;
  outline: none;
  line-height: 40px ;
  border: 1px solid #bbbbbb;
  padding-left: 40px;
  border-radius: 4px;
}


.m-second-button{
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  border-radius: 4px ;
  height: 40px;
  color: #000000;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.m-second-button:hover{
  background-color: #e9ebee ;
}

.m-btn-refresh{
  background-image: url(../../content/icon/refresh.png);
  background-repeat: no-repeat;
  background-position: center;
  width : 40px;

}

/* .content .pagging-bar{
  height: 56px;
  background-color: brown;
}  */



/* 
.content .on-bottom{
  margin-left: 16px;
  height: 60px;
  width: calc(100% - 32px) ;
  bottom: 0;
  position: absolute;
  display: block;
  border-top: 4px solid lightslategray;
} */

.content-bottom-left{
  float: left;
} 

.content-bottom-right{
  float: right;
}

.content-bottom-mid{
  float: left;
  width: 858px;
  height: 49px;
  text-align:center ;
  margin-top: 7px ;
}

.content-bottom-mid .first{
  margin-left: 245px;
}

/* thiết lập style cho thẻ a */
.pagination a {
color: black;
float: left;
padding:  12px 18px;
text-decoration: none;
}
/* thiết lập style cho class active */
.pagination a.active {
background-color: #ddd;
color: white;
/*Thiết kế hình tròn với CSS*/
border-radius: 50%;
}
/* thêm màu nền khi người dùng hover vào class không active */
.pagination a:hover:not(.active) {
background-color: green;
/*Thiết kế hình tròn với CSS*/
border-radius: 50%;
}