.grid{
    width: 100%;
    /* background-color: #808080; */
    /* height: 100vh; */
    overflow: auto;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(189, 180, 180);
  border-radius: 5px;
}

th{
    text-align: left;
  }

  th , td {
    padding: 11px;
    border-top: 1px solid #dee2e6;
  }

  table{
    border-collapse: collapse;
  }

  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover{
  background-color: hsl(191, 19%, 88%) !important;
}